.base-container {
  display: flex;
  flex-direction: column;
}

.subjects-container {
  display: flex;
  /* border: 1px solid black; */
  height: 400px;
}

.dashboard-user {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.application-name {
  border: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
  color: #455a52;
  margin-top: -100px;
}
